[ req ]
prompt = no
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
commonName = "{{ $commonName }}"
organizationalUnitName = "{{ $created_by }}"

[ v3_req ]
basicConstraints = CA:{{ $ca }}
@if(count($subjects) > 0)
subjectAltName = @san
@endif

[san]
@foreach($subjects as $subject)
DNS.{{ $loop->index+1 }} = {{ $subject }}
@endforeach