[ req ]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
commonName = "SLL"
organizationalUnitName = "kochda7"
basicConstraints = CA:FALSE

[ v3_req ]
subjectAltName = @san

[san]
DNS.1 = test.com
